desktop.ini
.gradle
*.as3proj
*.ipr
*.iml
*.iws
.actionScriptProperties
.flexLibProperties
.flexProperties
.FlexUnitSettings
.externalToolBuilders
.model
.settings
.classpath
.project
.idea
obj
build
target
bin
out
bin-debug
bin-release
